/*
 * Copyright (c) 2023 Laczen
 * SPDX-License-Identifier: Apache-2.0
 */
 
 &flash0 {
        partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@C000 {
			label = "storage";
			reg = <0x0000C000 DT_SIZE_K(80)>;
		};
        };
 };

 / {
        kvs_storage: kvs_storage {
                compatible = "zephyr,kvs-flash";
                partition = <&storage_partition>;
                sector-size = <DT_SIZE_K(16)>;
                free-size = <DT_SIZE_K(64)>;
        };
 };